<style>
    .article_detailContainer {
        padding: 15px
    }
</style>

<div class="article_detailContainer  fff">
    <header>
        <h4>人这一辈子一定要去</h4>
        <p>2017-10-12</p>
    </header>
    <div class="text-center">
        <p> 我和你的距离在大叔大婶于</p>
        <p> 我和你的距离在于</p>
        <p> 我和你的距离打撒在于</p>
        <p> 我和你的距离在于</p>
        <p><img src="../public/images/jf.jpg" alt=""></p>
        <p> 我和你的距离在大叔大婶于</p>
        <p> 我和你的距离在于</p>
        <p> 我和你的距离打撒在于</p>
        <p> 我和你的距离在于</p>
        <p><img src="../public/images/jf.jpg" alt=""></p>
        <p> 我和你的距离在大叔大婶于</p>
        <p> 我和你的距离在于</p>
        <p> 我和你的距离打撒在于</p>
        <p> 我和你的距离在于</p>
    </div>
</div>
<div style="height:65px"></div>